/* General Styles */
title {
    background-color: #6edda0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
header {
    background-color: #2d2d2d;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #6edda0;
}

/* Section Styles */
section {
    margin: 20px 0;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #2d2d2d;
    text-transform: uppercase;
}

section h3 {
    color: #4d4d4d;
    margin: 10px 0 5px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2d2d2d;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Code Block Styles */
pre {
    background-color: #2d2d2d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2d2d2d;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Other Styles */
.banner, .certificate, .observed_at, .service_name, .source_ip, .tls {
    margin: 10px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.banner h4, .certificate h4, .observed_at h4, .service_name h4, .source_ip h4, .tls h4 {
    margin: 0 0 5px;
    color: #2d2d2d;
}

@media print {
    body {
        background-color: #fff;
        color: #000;
    }

    .container {
        width: 100%;
        box-shadow: none;
    }

    header, footer {
        background-color: #000;
        color: #fff;
    }
}
